html {
    background-color: #ccc;
    font-size: 32px;

}

body {
    background-color: yellow;
    width: 50%;
    font-size: 3em;
}


.pai {
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.5rem;
}

.filha {
    background-color: #1de9b6;
    width: 50%;
    font-size: .5rem;
}